# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [16]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [17]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
# print ("xs:", xs,"\n")
# print ("xs indexes:",xs.index,"\n")
# Values of the Series are actually a numpy array
print ("xs values:", xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')
print (type(xs[['d', 'f', 'h']]), '\n')

d = {"a": 1, "b": 2, "c": 3, "d": 4}
print(d)
ds = pd.Series(data=d, index=["a", "b", "c", "d"])
print(ds)

xs values: [0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

<class 'pandas.core.series.Series'>

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
a    1
b    2
c    3
d    4
dtype: int64

In [18]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [19]:
# Series can be created from python dictionary too.
# Note that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
print(pd.Series(data=d))
print(pd.Series(data=d, index=["d", "e", "f"]))
print(pd.Series(data=d, index=["a", "b", "c"]))

b         1
a       cat
c    [2, 3]
dtype: object
d    NaN
e    NaN
f    NaN
dtype: object
a       cat
b         1
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without considering whether the Series involved have the same labels.

In [20]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
print(s)
s = s[1:] + s[:-1] #b is summed with b (bx2), c with c and d with d
print(s)

a   -0.024195
b    0.547532
c    0.084945
d   -0.345570
e   -1.095567
dtype: float64
a         NaN
b    1.095063
c    0.169889
d   -0.691140
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas has a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [24]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
print(date)

date = dt.datetime(2022,11,30,10,45,10,123415) #123415 is in microseconds
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 30 2022'
print(date)
# or alternatively
date = '30/11/2022 10:45:00'
print(date)

days = pd.date_range(date, periods=7, freq='D')
print(days)

seconds = pd.date_range(date, periods=3600, freq='s')
print(seconds)

pd.date_range(start="Nov 30 2022", end="Jan 5 2023")

2023-01-27
2022-11-30 10:45:10.123415
Nov 30 2022
30/11/2022 10:45:00
DatetimeIndex(['2022-11-30 10:45:00', '2022-12-01 10:45:00',
               '2022-12-02 10:45:00', '2022-12-03 10:45:00',
               '2022-12-04 10:45:00', '2022-12-05 10:45:00',
               '2022-12-06 10:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2022-11-30 10:45:00', '2022-11-30 10:45:01',
               '2022-11-30 10:45:02', '2022-11-30 10:45:03',
               '2022-11-30 10:45:04', '2022-11-30 10:45:05',
               '2022-11-30 10:45:06', '2022-11-30 10:45:07',
               '2022-11-30 10:45:08', '2022-11-30 10:45:09',
               ...
               '2022-11-30 11:44:50', '2022-11-30 11:44:51',
               '2022-11-30 11:44:52', '2022-11-30 11:44:53',
               '2022-11-30 11:44:54', '2022-11-30 11:44:55',
               '2022-11-30 11:44:56', '2022-11-30 11:44:57',
               '2022-11-30 11:44:58', '2022-11-30 11:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

DatetimeIndex(['2022-11-30', '2022-12-01', '2022-12-02', '2022-12-03',
               '2022-12-04', '2022-12-05', '2022-12-06', '2022-12-07',
               '2022-12-08', '2022-12-09', '2022-12-10', '2022-12-11',
               '2022-12-12', '2022-12-13', '2022-12-14', '2022-12-15',
               '2022-12-16', '2022-12-17', '2022-12-18', '2022-12-19',
               '2022-12-20', '2022-12-21', '2022-12-22', '2022-12-23',
               '2022-12-24', '2022-12-25', '2022-12-26', '2022-12-27',
               '2022-12-28', '2022-12-29', '2022-12-30', '2022-12-31',
               '2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05'],
              dtype='datetime64[ns]', freq='D')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset.

Timestamp is the pandas equivalent of python’s Datetime and is interchangeable with it in most cases.

In [35]:
tstamp = pd.Timestamp(dt.datetime(2020, 11, 9))
print(tstamp)
print(tstamp.value)

# internally it counts the nanoseconds from January 1st 1970
tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp)
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
ts = pd.to_datetime('2010/11/12', format='%Y/%m/%d')
print (type(ts))
print (ts.value)
ts = pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')
print (ts)
print (ts.value)

2020-11-09 00:00:00
1604880000000000000
1970-01-01 00:00:00.000001
1000
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
1289520000000000000
2010-11-12 00:00:00
1289520000000000000

A standard series can be created and (range of) elements can be used as indexes

In [36]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
print(tseries, "\n")
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2022-11-30':'2022-12-01'], '\n') # Note - includes end time

2022-11-30 10:45:00    11.711057
2022-12-01 10:45:00    10.413777
2022-12-02 10:45:00    10.022790
2022-12-03 10:45:00    10.089441
2022-12-04 10:45:00    10.807043
2022-12-05 10:45:00    11.456802
2022-12-06 10:45:00     9.118740
Freq: D, dtype: float64

2022-11-30 10:45:00    11.711057
2022-12-01 10:45:00    10.413777
2022-12-02 10:45:00    10.022790
2022-12-03 10:45:00    10.089441
Freq: D, dtype: float64

2022-11-30 10:45:00    11.711057
2022-12-01 10:45:00    10.413777
Freq: D, dtype: float64

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [37]:
pd.to_datetime([1, 2, 3, 4], unit='D', origin=pd.Timestamp('1980-02-03'))

DatetimeIndex(['1980-02-04', '1980-02-05', '1980-02-06', '1980-02-07'], dtype='datetime64[ns]', freq=None)

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [38]:
entries=10
entries*=2
dates=pd.date_range('30 Nov 2022 10:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,6), index=dates, columns=['A','B','C','D','E','F']) #number of generated columns and rows must be equal to the indexed columns or, in this case, the timestamped rows
#print(df)
df

20

,A,B,C,D,E,F
2022-11-30 10:45:00,0.450991,-0.364525,-0.050647,0.747518,0.342245,-0.441319
2022-11-30 11:45:00,0.693715,0.761935,1.187793,-0.730456,1.182678,-1.946688
2022-11-30 12:45:00,0.516285,0.207153,-0.033281,0.743171,0.358540,1.210839
2022-11-30 13:45:00,0.099343,1.026228,1.524140,0.271354,-2.050327,0.541032
2022-11-30 14:45:00,2.169405,-0.905492,0.359642,0.901333,0.845226,-1.247812
2022-11-30 15:45:00,-1.233862,1.698216,1.109783,0.508394,-0.415768,1.296452
2022-11-30 16:45:00,0.867473,1.621852,-1.434107,-1.013288,2.153158,-1.915856
2022-11-30 17:45:00,1.467124,0.400252,-0.471092,-1.140840,-0.315935,-0.275144
2022-11-30 18:45:00,1.644911,-0.108188,0.840957,-0.550979,-0.728612,-1.782195
2022-11-30 19:45:00,0.027706,1.478187,-1.096298,-2.727859,1.328487,0.079411
2022-11-30 20:45:00,0.308695,-0.840675,-1.363652,0.744607,1.014657,0.445943
2022-11-30 21:45:00,0.468889,0.667009,0.408012,-0.494654,-0.650906,-0.719563
2022-11-30 22:45:00,-2.245580,-0.605161,-1.627724,0.649310,-0.663590,-1.144877
2022-11-30 23:45:00,-0.463453,-0.317962,-0.836897,0.660050,0.396712,0.283492
2022-12-01 00:45:00,0.417078,-0.083723,0.116609,-0.802084,0.793921,1.613722
2022-12-01 01:45:00,-2.027081,0.299024,-0.824056,1.252152,-0.613778,-0.356909
2022-12-01 02:45:00,1.570236,0.985273,-1.249225,0.192885,-1.441165,0.766961
2022-12-01 03:45:00,-0.538693,-0.293037,0.570432,-0.002864,0.830894,-2.106377
2022-12-01 04:45:00,-1.414365,0.367785,0.515508,-0.139919,-1.440524,0.442566
2022-12-01 05:45:00,-0.001079,-0.719254,0.792553,-0.236927,-0.329758,1.186557

or by means of a dictionary:

In [41]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(5),dtype='float32'),
      'D' : np.arange(7,12), #number of elements here must equal range of indexing in previous row of code (key C in dictionary)
      'E' : pd.Categorical(["test","train","test","train","ao"]), #also here
    }
    )
df2

# check what happens if D and E had different lengths

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train
4  1.0 2013-01-02  1.0  11     ao

### Viewing Data

In [42]:
df.head(2) #first 2 rows of dataframe

,A,B,C,D,E,F
2022-11-30 10:45:00,0.450991,-0.364525,-0.050647,0.747518,0.342245,-0.441319
2022-11-30 11:45:00,0.693715,0.761935,1.187793,-0.730456,1.182678,-1.946688

In [45]:
df.tail(4) #last 4 rows

,A,B,C,D,E,F
2022-12-01 02:45:00,1.570236,0.985273,-1.249225,0.192885,-1.441165,0.766961
2022-12-01 03:45:00,-0.538693,-0.293037,0.570432,-0.002864,0.830894,-2.106377
2022-12-01 04:45:00,-1.414365,0.367785,0.515508,-0.139919,-1.440524,0.442566
2022-12-01 05:45:00,-0.001079,-0.719254,0.792553,-0.236927,-0.329758,1.186557

In [43]:
print(df.index)
type(df.index)

DatetimeIndex(['2022-11-30 10:45:00', '2022-11-30 11:45:00',
               '2022-11-30 12:45:00', '2022-11-30 13:45:00',
               '2022-11-30 14:45:00', '2022-11-30 15:45:00',
               '2022-11-30 16:45:00', '2022-11-30 17:45:00',
               '2022-11-30 18:45:00', '2022-11-30 19:45:00',
               '2022-11-30 20:45:00', '2022-11-30 21:45:00',
               '2022-11-30 22:45:00', '2022-11-30 23:45:00',
               '2022-12-01 00:45:00', '2022-12-01 01:45:00',
               '2022-12-01 02:45:00', '2022-12-01 03:45:00',
               '2022-12-01 04:45:00', '2022-12-01 05:45:00'],
              dtype='datetime64[ns]', freq='H')

pandas.core.indexes.datetimes.DatetimeIndex

In [46]:
print(df.columns)
type(df.columns)

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

pandas.core.indexes.base.Index

In [47]:
print(df.values) #numpy array
type(df.values)

[[ 4.50991139e-01 -3.64525187e-01 -5.06467310e-02  7.47517620e-01
   3.42244768e-01 -4.41318585e-01]
 [ 6.93714699e-01  7.61934924e-01  1.18779273e+00 -7.30455646e-01
   1.18267840e+00 -1.94668770e+00]
 [ 5.16284613e-01  2.07152929e-01 -3.32806442e-02  7.43171128e-01
   3.58540068e-01  1.21083895e+00]
 [ 9.93430552e-02  1.02622789e+00  1.52413985e+00  2.71353806e-01
  -2.05032735e+00  5.41031848e-01]
 [ 2.16940513e+00 -9.05491950e-01  3.59642435e-01  9.01332526e-01
   8.45226066e-01 -1.24781168e+00]
 [-1.23386200e+00  1.69821593e+00  1.10978258e+00  5.08393662e-01
  -4.15768030e-01  1.29645226e+00]
 [ 8.67472751e-01  1.62185193e+00 -1.43410712e+00 -1.01328785e+00
   2.15315825e+00 -1.91585648e+00]
 [ 1.46712368e+00  4.00252193e-01 -4.71091537e-01 -1.14084032e+00
  -3.15935256e-01 -2.75143887e-01]
 [ 1.64491108e+00 -1.08188310e-01  8.40956870e-01 -5.50978874e-01
  -7.28611987e-01 -1.78219512e+00]
 [ 2.77064689e-02  1.47818661e+00 -1.09629798e+00 -2.72785889e+00
   1.32848743e+00  7.94109515e-02]
 [ 3.08694704e-01 -8.40675237e-01 -1.36365188e+00  7.44607076e-01
   1.01465710e+00  4.45943361e-01]
 [ 4.68888561e-01  6.67009047e-01  4.08011594e-01 -4.94653883e-01
  -6.50905981e-01 -7.19562884e-01]
 [-2.24558030e+00 -6.05161181e-01 -1.62772369e+00  6.49309892e-01
  -6.63590165e-01 -1.14487661e+00]
 [-4.63452929e-01 -3.17961766e-01 -8.36897027e-01  6.60049515e-01
   3.96711738e-01  2.83491542e-01]
 [ 4.17077751e-01 -8.37233243e-02  1.16609252e-01 -8.02084292e-01
   7.93921196e-01  1.61372153e+00]
 [-2.02708055e+00  2.99024248e-01 -8.24055734e-01  1.25215187e+00
  -6.13778134e-01 -3.56908602e-01]
 [ 1.57023620e+00  9.85273180e-01 -1.24922496e+00  1.92885185e-01
  -1.44116513e+00  7.66961225e-01]
 [-5.38692874e-01 -2.93037488e-01  5.70431991e-01 -2.86437408e-03
   8.30893542e-01 -2.10637704e+00]
 [-1.41436508e+00  3.67784583e-01  5.15507540e-01 -1.39919235e-01
  -1.44052372e+00  4.42565827e-01]
 [-1.07941099e-03 -7.19253832e-01  7.92552776e-01 -2.36926576e-01
  -3.29757782e-01  1.18655689e+00]]

numpy.ndarray

In [48]:
df.describe()

               A          B          C          D          E          F
count  20.000000  20.000000  20.000000  20.000000  20.000000  20.000000
mean    0.138887   0.263745  -0.078077  -0.058455   0.029808  -0.203488
std     1.192682   0.812211   0.973670   0.939608   1.070135   1.182096
min    -2.245580  -0.905492  -1.627724  -2.727859  -2.050327  -2.106377
25%    -0.482263  -0.329603  -0.901747  -0.595848  -0.654077  -1.170610
50%     0.362886   0.253089   0.041664   0.095010   0.013155  -0.097866
75%     0.737154   0.817769   0.625962   0.680830   0.834477   0.597514
max     2.169405   1.698216   1.524140   1.252152   2.153158   1.613722

In [49]:
df.T #transpose

,2022-11-30 10:45:00,2022-11-30 11:45:00,2022-11-30 12:45:00,2022-11-30 13:45:00,2022-11-30 14:45:00,2022-11-30 15:45:00,2022-11-30 16:45:00,2022-11-30 17:45:00,2022-11-30 18:45:00,2022-11-30 19:45:00,2022-11-30 20:45:00,2022-11-30 21:45:00,2022-11-30 22:45:00,2022-11-30 23:45:00,2022-12-01 00:45:00,2022-12-01 01:45:00,2022-12-01 02:45:00,2022-12-01 03:45:00,2022-12-01 04:45:00,2022-12-01 05:45:00
A,0.450991,0.693715,0.516285,0.099343,2.169405,-1.233862,0.867473,1.467124,1.644911,0.027706,0.308695,0.468889,-2.245580,-0.463453,0.417078,-2.027081,1.570236,-0.538693,-1.414365,-0.001079
B,-0.364525,0.761935,0.207153,1.026228,-0.905492,1.698216,1.621852,0.400252,-0.108188,1.478187,-0.840675,0.667009,-0.605161,-0.317962,-0.083723,0.299024,0.985273,-0.293037,0.367785,-0.719254
C,-0.050647,1.187793,-0.033281,1.524140,0.359642,1.109783,-1.434107,-0.471092,0.840957,-1.096298,-1.363652,0.408012,-1.627724,-0.836897,0.116609,-0.824056,-1.249225,0.570432,0.515508,0.792553
D,0.747518,-0.730456,0.743171,0.271354,0.901333,0.508394,-1.013288,-1.140840,-0.550979,-2.727859,0.744607,-0.494654,0.649310,0.660050,-0.802084,1.252152,0.192885,-0.002864,-0.139919,-0.236927
E,0.342245,1.182678,0.358540,-2.050327,0.845226,-0.415768,2.153158,-0.315935,-0.728612,1.328487,1.014657,-0.650906,-0.663590,0.396712,0.793921,-0.613778,-1.441165,0.830894,-1.440524,-0.329758
F,-0.441319,-1.946688,1.210839,0.541032,-1.247812,1.296452,-1.915856,-0.275144,-1.782195,0.079411,0.445943,-0.719563,-1.144877,0.283492,1.613722,-0.356909,0.766961,-2.106377,0.442566,1.186557

In [50]:
df.sort_index(axis=0,ascending=False)

,A,B,C,D,E,F
2022-12-01 05:45:00,-0.001079,-0.719254,0.792553,-0.236927,-0.329758,1.186557
2022-12-01 04:45:00,-1.414365,0.367785,0.515508,-0.139919,-1.440524,0.442566
2022-12-01 03:45:00,-0.538693,-0.293037,0.570432,-0.002864,0.830894,-2.106377
2022-12-01 02:45:00,1.570236,0.985273,-1.249225,0.192885,-1.441165,0.766961
2022-12-01 01:45:00,-2.027081,0.299024,-0.824056,1.252152,-0.613778,-0.356909
2022-12-01 00:45:00,0.417078,-0.083723,0.116609,-0.802084,0.793921,1.613722
2022-11-30 23:45:00,-0.463453,-0.317962,-0.836897,0.660050,0.396712,0.283492
2022-11-30 22:45:00,-2.245580,-0.605161,-1.627724,0.649310,-0.663590,-1.144877
2022-11-30 21:45:00,0.468889,0.667009,0.408012,-0.494654,-0.650906,-0.719563
2022-11-30 20:45:00,0.308695,-0.840675,-1.363652,0.744607,1.014657,0.445943
2022-11-30 19:45:00,0.027706,1.478187,-1.096298,-2.727859,1.328487,0.079411
2022-11-30 18:45:00,1.644911,-0.108188,0.840957,-0.550979,-0.728612,-1.782195
2022-11-30 17:45:00,1.467124,0.400252,-0.471092,-1.140840,-0.315935,-0.275144
2022-11-30 16:45:00,0.867473,1.621852,-1.434107,-1.013288,2.153158,-1.915856
2022-11-30 15:45:00,-1.233862,1.698216,1.109783,0.508394,-0.415768,1.296452
2022-11-30 14:45:00,2.169405,-0.905492,0.359642,0.901333,0.845226,-1.247812
2022-11-30 13:45:00,0.099343,1.026228,1.524140,0.271354,-2.050327,0.541032
2022-11-30 12:45:00,0.516285,0.207153,-0.033281,0.743171,0.358540,1.210839
2022-11-30 11:45:00,0.693715,0.761935,1.187793,-0.730456,1.182678,-1.946688
2022-11-30 10:45:00,0.450991,-0.364525,-0.050647,0.747518,0.342245,-0.441319

In [51]:
df.sort_values(by="C")

,A,B,C,D,E,F
2022-11-30 22:45:00,-2.245580,-0.605161,-1.627724,0.649310,-0.663590,-1.144877
2022-11-30 16:45:00,0.867473,1.621852,-1.434107,-1.013288,2.153158,-1.915856
2022-11-30 20:45:00,0.308695,-0.840675,-1.363652,0.744607,1.014657,0.445943
2022-12-01 02:45:00,1.570236,0.985273,-1.249225,0.192885,-1.441165,0.766961
2022-11-30 19:45:00,0.027706,1.478187,-1.096298,-2.727859,1.328487,0.079411
2022-11-30 23:45:00,-0.463453,-0.317962,-0.836897,0.660050,0.396712,0.283492
2022-12-01 01:45:00,-2.027081,0.299024,-0.824056,1.252152,-0.613778,-0.356909
2022-11-30 17:45:00,1.467124,0.400252,-0.471092,-1.140840,-0.315935,-0.275144
2022-11-30 10:45:00,0.450991,-0.364525,-0.050647,0.747518,0.342245,-0.441319
2022-11-30 12:45:00,0.516285,0.207153,-0.033281,0.743171,0.358540,1.210839
2022-12-01 00:45:00,0.417078,-0.083723,0.116609,-0.802084,0.793921,1.613722
2022-11-30 14:45:00,2.169405,-0.905492,0.359642,0.901333,0.845226,-1.247812
2022-11-30 21:45:00,0.468889,0.667009,0.408012,-0.494654,-0.650906,-0.719563
2022-12-01 04:45:00,-1.414365,0.367785,0.515508,-0.139919,-1.440524,0.442566
2022-12-01 03:45:00,-0.538693,-0.293037,0.570432,-0.002864,0.830894,-2.106377
2022-12-01 05:45:00,-0.001079,-0.719254,0.792553,-0.236927,-0.329758,1.186557
2022-11-30 18:45:00,1.644911,-0.108188,0.840957,-0.550979,-0.728612,-1.782195
2022-11-30 15:45:00,-1.233862,1.698216,1.109783,0.508394,-0.415768,1.296452
2022-11-30 11:45:00,0.693715,0.761935,1.187793,-0.730456,1.182678,-1.946688
2022-11-30 13:45:00,0.099343,1.026228,1.524140,0.271354,-2.050327,0.541032

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [52]:
## standard and safe
print (df['A'],'\n')

## equivalent but dangerous (imagine blank spaces in the name of the column..): i.e. if "A b" was the name of the column, syntax of ".A b" function fails
print (df.A)

2022-11-30 10:45:00    0.450991
2022-11-30 11:45:00    0.693715
2022-11-30 12:45:00    0.516285
2022-11-30 13:45:00    0.099343
2022-11-30 14:45:00    2.169405
2022-11-30 15:45:00   -1.233862
2022-11-30 16:45:00    0.867473
2022-11-30 17:45:00    1.467124
2022-11-30 18:45:00    1.644911
2022-11-30 19:45:00    0.027706
2022-11-30 20:45:00    0.308695
2022-11-30 21:45:00    0.468889
2022-11-30 22:45:00   -2.245580
2022-11-30 23:45:00   -0.463453
2022-12-01 00:45:00    0.417078
2022-12-01 01:45:00   -2.027081
2022-12-01 02:45:00    1.570236
2022-12-01 03:45:00   -0.538693
2022-12-01 04:45:00   -1.414365
2022-12-01 05:45:00   -0.001079
Freq: H, Name: A, dtype: float64

2022-11-30 10:45:00    0.450991
2022-11-30 11:45:00    0.693715
2022-11-30 12:45:00    0.516285
2022-11-30 13:45:00    0.099343
2022-11-30 14:45:00    2.169405
2022-11-30 15:45:00   -1.233862
2022-11-30 16:45:00    0.867473
2022-11-30 17:45:00    1.467124
2022-11-30 18:45:00    1.644911
2022-11-30 19:45:00    0.027706
2022-11-30 20:45:00    0.308695
2022-11-30 21:45:00    0.468889
2022-11-30 22:45:00   -2.245580
2022-11-30 23:45:00   -0.463453
2022-12-01 00:45:00    0.417078
2022-12-01 01:45:00   -2.027081
2022-12-01 02:45:00    1.570236
2022-12-01 03:45:00   -0.538693
2022-12-01 04:45:00   -1.414365
2022-12-01 05:45:00   -0.001079
Freq: H, Name: A, dtype: float64

In [53]:
# selecting rows by counting
print(df[0:3])

# or by index
df["2022-11-30 10:45:00":"2022-11-30 12:45:00"]

                            A         B         C         D         E  \
2022-11-30 10:45:00  0.450991 -0.364525 -0.050647  0.747518  0.342245
2022-11-30 11:45:00  0.693715  0.761935  1.187793 -0.730456  1.182678
2022-11-30 12:45:00  0.516285  0.207153 -0.033281  0.743171  0.358540

                            F
2022-11-30 10:45:00 -0.441319
2022-11-30 11:45:00 -1.946688
2022-11-30 12:45:00  1.210839

,A,B,C,D,E,F
2022-11-30 10:45:00,0.450991,-0.364525,-0.050647,0.747518,0.342245,-0.441319
2022-11-30 11:45:00,0.693715,0.761935,1.187793,-0.730456,1.182678,-1.946688
2022-11-30 12:45:00,0.516285,0.207153,-0.033281,0.743171,0.358540,1.210839

### Selection by label

In [54]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[0]]

A    0.450991
B   -0.364525
C   -0.050647
D    0.747518
E    0.342245
F   -0.441319
Name: 2022-11-30 10:45:00, dtype: float64

In [55]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]
#a=df.loc[:,['A','B']]
#print(a)

                            A         B
2022-11-30 10:45:00  0.450991 -0.364525
2022-11-30 11:45:00  0.693715  0.761935
2022-11-30 12:45:00  0.516285  0.207153
2022-11-30 13:45:00  0.099343  1.026228
2022-11-30 14:45:00  2.169405 -0.905492
2022-11-30 15:45:00 -1.233862  1.698216
2022-11-30 16:45:00  0.867473  1.621852
2022-11-30 17:45:00  1.467124  0.400252
2022-11-30 18:45:00  1.644911 -0.108188
2022-11-30 19:45:00  0.027706  1.478187
2022-11-30 20:45:00  0.308695 -0.840675
2022-11-30 21:45:00  0.468889  0.667009
2022-11-30 22:45:00 -2.245580 -0.605161
2022-11-30 23:45:00 -0.463453 -0.317962
2022-12-01 00:45:00  0.417078 -0.083723
2022-12-01 01:45:00 -2.027081  0.299024
2022-12-01 02:45:00  1.570236  0.985273
2022-12-01 03:45:00 -0.538693 -0.293037
2022-12-01 04:45:00 -1.414365  0.367785
2022-12-01 05:45:00 -0.001079 -0.719254

In [56]:
# showing label slicing, both endpoints are included:
df.loc['2022-11-30 14:45:00':'2022-11-30 16:45:00',['A','B']]

#There are data structures which we might want to view or for which we might want to create a copy

                            A         B
2022-11-30 14:45:00  2.169405 -0.905492
2022-11-30 15:45:00 -1.233862  1.698216
2022-11-30 16:45:00  0.867473  1.621852

In [57]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])

0.6937146985309263
0.6937146985309263

### Selecting by position

In [58]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A    0.099343
B    1.026228
C    1.524140
D    0.271354
E   -2.050327
F    0.541032
Name: 2022-11-30 13:45:00, dtype: float64

                            A         B
2022-11-30 13:45:00  0.099343  1.026228
2022-11-30 14:45:00  2.169405 -0.905492

In [59]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2022-11-30 11:45:00  0.693715  1.187793
2022-11-30 12:45:00  0.516285 -0.033281
2022-11-30 14:45:00  2.169405  0.359642

In [60]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

                            A         B         C         D         E  \
2022-11-30 11:45:00  0.693715  0.761935  1.187793 -0.730456  1.182678
2022-11-30 12:45:00  0.516285  0.207153 -0.033281  0.743171  0.358540

                            F
2022-11-30 11:45:00 -1.946688
2022-11-30 12:45:00  1.210839

                            B         C
2022-11-30 10:45:00 -0.364525 -0.050647
2022-11-30 11:45:00  0.761935  1.187793
2022-11-30 12:45:00  0.207153 -0.033281
2022-11-30 13:45:00  1.026228  1.524140
2022-11-30 14:45:00 -0.905492  0.359642
2022-11-30 15:45:00  1.698216  1.109783
2022-11-30 16:45:00  1.621852 -1.434107
2022-11-30 17:45:00  0.400252 -0.471092
2022-11-30 18:45:00 -0.108188  0.840957
2022-11-30 19:45:00  1.478187 -1.096298
2022-11-30 20:45:00 -0.840675 -1.363652
2022-11-30 21:45:00  0.667009  0.408012
2022-11-30 22:45:00 -0.605161 -1.627724
2022-11-30 23:45:00 -0.317962 -0.836897
2022-12-01 00:45:00 -0.083723  0.116609
2022-12-01 01:45:00  0.299024 -0.824056
2022-12-01 02:45:00  0.985273 -1.249225
2022-12-01 03:45:00 -0.293037  0.570432
2022-12-01 04:45:00  0.367785  0.515508
2022-12-01 05:45:00 -0.719254  0.792553

In [61]:
# selecting an individual element by position
print(df.iloc[1,1])
df.iat[1,1]

#loc actual name of indexes must be provided, iloc you don't need name, but you have to count to the place you want to go

0.7619349235731839

0.7619349235731839

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [62]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]

,A,B,C,D,E,F
2022-11-30 11:45:00,0.693715,0.761935,1.187793,-0.730456,1.182678,-1.946688
2022-11-30 12:45:00,0.516285,0.207153,-0.033281,0.743171,0.358540,1.210839
2022-11-30 13:45:00,0.099343,1.026228,1.524140,0.271354,-2.050327,0.541032
2022-11-30 15:45:00,-1.233862,1.698216,1.109783,0.508394,-0.415768,1.296452
2022-11-30 16:45:00,0.867473,1.621852,-1.434107,-1.013288,2.153158,-1.915856
2022-11-30 17:45:00,1.467124,0.400252,-0.471092,-1.140840,-0.315935,-0.275144
2022-11-30 19:45:00,0.027706,1.478187,-1.096298,-2.727859,1.328487,0.079411
2022-11-30 21:45:00,0.468889,0.667009,0.408012,-0.494654,-0.650906,-0.719563
2022-12-01 01:45:00,-2.027081,0.299024,-0.824056,1.252152,-0.613778,-0.356909
2022-12-01 02:45:00,1.570236,0.985273,-1.249225,0.192885,-1.441165,0.766961
2022-12-01 04:45:00,-1.414365,0.367785,0.515508,-0.139919,-1.440524,0.442566

In [63]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0] 

# a DataFrame with the same shape is returned, with NaN's where condition is not met

,A,B,C,D,E,F
2022-11-30 10:45:00,0.450991,NaN,NaN,0.747518,0.342245,NaN
2022-11-30 11:45:00,0.693715,0.761935,1.187793,NaN,1.182678,NaN
2022-11-30 12:45:00,0.516285,0.207153,NaN,0.743171,0.358540,1.210839
2022-11-30 13:45:00,0.099343,1.026228,1.524140,0.271354,NaN,0.541032
2022-11-30 14:45:00,2.169405,NaN,0.359642,0.901333,0.845226,NaN
2022-11-30 15:45:00,NaN,1.698216,1.109783,0.508394,NaN,1.296452
2022-11-30 16:45:00,0.867473,1.621852,NaN,NaN,2.153158,NaN
2022-11-30 17:45:00,1.467124,0.400252,NaN,NaN,NaN,NaN
2022-11-30 18:45:00,1.644911,NaN,0.840957,NaN,NaN,NaN
2022-11-30 19:45:00,0.027706,1.478187,NaN,NaN,1.328487,0.079411
2022-11-30 20:45:00,0.308695,NaN,NaN,0.744607,1.014657,0.445943
2022-11-30 21:45:00,0.468889,0.667009,0.408012,NaN,NaN,NaN
2022-11-30 22:45:00,NaN,NaN,NaN,0.649310,NaN,NaN
2022-11-30 23:45:00,NaN,NaN,NaN,0.660050,0.396712,0.283492
2022-12-01 00:45:00,0.417078,NaN,0.116609,NaN,0.793921,1.613722
2022-12-01 01:45:00,NaN,0.299024,NaN,1.252152,NaN,NaN
2022-12-01 02:45:00,1.570236,0.985273,NaN,0.192885,NaN,0.766961
2022-12-01 03:45:00,NaN,NaN,0.570432,NaN,0.830894,NaN
2022-12-01 04:45:00,NaN,0.367785,0.515508,NaN,NaN,0.442566
2022-12-01 05:45:00,NaN,NaN,0.792553,NaN,NaN,1.186557

### Setting

Combination of selection and setting of values

In [64]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)
df

                            A         B         C  D    E         F  E prime
2022-11-30 10:45:00  0.000000 -0.364525 -0.050647  5  0.0 -0.441319        0
2022-11-30 11:45:00  0.693715  0.761935  1.187793  5  0.5 -1.946688        2
2022-11-30 12:45:00  0.516285  0.207153 -0.033281  5  1.0  1.210839        4
2022-11-30 13:45:00  0.099343  1.026228  1.524140  5  1.5  0.541032        6
2022-11-30 14:45:00  2.169405 -0.905492  0.359642  5  2.0 -1.247812        8
2022-11-30 15:45:00 -1.233862  1.698216  1.109783  5  2.5  1.296452       10
2022-11-30 16:45:00  0.867473  1.621852 -1.434107  5  3.0 -1.915856       12
2022-11-30 17:45:00  1.467124  0.400252 -0.471092  5  3.5 -0.275144       14
2022-11-30 18:45:00  1.644911 -0.108188  0.840957  5  4.0 -1.782195       16
2022-11-30 19:45:00  0.027706  1.478187 -1.096298  5  4.5  0.079411       18
2022-11-30 20:45:00  0.308695 -0.840675 -1.363652  5  5.0  0.445943       20
2022-11-30 21:45:00  0.468889  0.667009  0.408012  5  5.5 -0.719563       22
2022-11-30 22:45:00 -2.245580 -0.605161 -1.627724  5  6.0 -1.144877       24
2022-11-30 23:45:00 -0.463453 -0.317962 -0.836897  5  6.5  0.283492       26
2022-12-01 00:45:00  0.417078 -0.083723  0.116609  5  7.0  1.613722       28
2022-12-01 01:45:00 -2.027081  0.299024 -0.824056  5  7.5 -0.356909       30
2022-12-01 02:45:00  1.570236  0.985273 -1.249225  5  8.0  0.766961       32
2022-12-01 03:45:00 -0.538693 -0.293037  0.570432  5  8.5 -2.106377       34
2022-12-01 04:45:00 -1.414365  0.367785  0.515508  5  9.0  0.442566       36
2022-12-01 05:45:00 -0.001079 -0.719254  0.792553  5  9.5  1.186557       38

In [65]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index) #
df

,A,B,C,D,E,F,E prime,cosine
2022-11-30 10:45:00,0.000000,-0.364525,-0.050647,5,0.0,-0.441319,0,1.000000
2022-11-30 11:45:00,0.693715,0.761935,1.187793,5,0.5,-1.946688,2,0.999962
2022-11-30 12:45:00,0.516285,0.207153,-0.033281,5,1.0,1.210839,4,0.999848
2022-11-30 13:45:00,0.099343,1.026228,1.524140,5,1.5,0.541032,6,0.999657
2022-11-30 14:45:00,2.169405,-0.905492,0.359642,5,2.0,-1.247812,8,0.999391
2022-11-30 15:45:00,-1.233862,1.698216,1.109783,5,2.5,1.296452,10,0.999048
2022-11-30 16:45:00,0.867473,1.621852,-1.434107,5,3.0,-1.915856,12,0.998630
2022-11-30 17:45:00,1.467124,0.400252,-0.471092,5,3.5,-0.275144,14,0.998135
2022-11-30 18:45:00,1.644911,-0.108188,0.840957,5,4.0,-1.782195,16,0.997564
2022-11-30 19:45:00,0.027706,1.478187,-1.096298,5,4.5,0.079411,18,0.996917
2022-11-30 20:45:00,0.308695,-0.840675,-1.363652,5,5.0,0.445943,20,0.996195
2022-11-30 21:45:00,0.468889,0.667009,0.408012,5,5.5,-0.719563,22,0.995396
2022-11-30 22:45:00,-2.245580,-0.605161,-1.627724,5,6.0,-1.144877,24,0.994522
2022-11-30 23:45:00,-0.463453,-0.317962,-0.836897,5,6.5,0.283492,26,0.993572
2022-12-01 00:45:00,0.417078,-0.083723,0.116609,5,7.0,1.613722,28,0.992546
2022-12-01 01:45:00,-2.027081,0.299024,-0.824056,5,7.5,-0.356909,30,0.991445
2022-12-01 02:45:00,1.570236,0.985273,-1.249225,5,8.0,0.766961,32,0.990268
2022-12-01 03:45:00,-0.538693,-0.293037,0.570432,5,8.5,-2.106377,34,0.989016
2022-12-01 04:45:00,-1.414365,0.367785,0.515508,5,9.0,0.442566,36,0.987688
2022-12-01 05:45:00,-0.001079,-0.719254,0.792553,5,9.5,1.186557,38,0.986286

In [66]:
# another example of global setting
df2=df.copy()

df2[df2>0] = -df2
df2

,A,B,C,D,E,F,E prime,cosine
2022-11-30 10:45:00,0.000000,-0.364525,-0.050647,-5,0.0,-0.441319,0,-1.000000
2022-11-30 11:45:00,-0.693715,-0.761935,-1.187793,-5,-0.5,-1.946688,-2,-0.999962
2022-11-30 12:45:00,-0.516285,-0.207153,-0.033281,-5,-1.0,-1.210839,-4,-0.999848
2022-11-30 13:45:00,-0.099343,-1.026228,-1.524140,-5,-1.5,-0.541032,-6,-0.999657
2022-11-30 14:45:00,-2.169405,-0.905492,-0.359642,-5,-2.0,-1.247812,-8,-0.999391
2022-11-30 15:45:00,-1.233862,-1.698216,-1.109783,-5,-2.5,-1.296452,-10,-0.999048
2022-11-30 16:45:00,-0.867473,-1.621852,-1.434107,-5,-3.0,-1.915856,-12,-0.998630
2022-11-30 17:45:00,-1.467124,-0.400252,-0.471092,-5,-3.5,-0.275144,-14,-0.998135
2022-11-30 18:45:00,-1.644911,-0.108188,-0.840957,-5,-4.0,-1.782195,-16,-0.997564
2022-11-30 19:45:00,-0.027706,-1.478187,-1.096298,-5,-4.5,-0.079411,-18,-0.996917
2022-11-30 20:45:00,-0.308695,-0.840675,-1.363652,-5,-5.0,-0.445943,-20,-0.996195
2022-11-30 21:45:00,-0.468889,-0.667009,-0.408012,-5,-5.5,-0.719563,-22,-0.995396
2022-11-30 22:45:00,-2.245580,-0.605161,-1.627724,-5,-6.0,-1.144877,-24,-0.994522
2022-11-30 23:45:00,-0.463453,-0.317962,-0.836897,-5,-6.5,-0.283492,-26,-0.993572
2022-12-01 00:45:00,-0.417078,-0.083723,-0.116609,-5,-7.0,-1.613722,-28,-0.992546
2022-12-01 01:45:00,-2.027081,-0.299024,-0.824056,-5,-7.5,-0.356909,-30,-0.991445
2022-12-01 02:45:00,-1.570236,-0.985273,-1.249225,-5,-8.0,-0.766961,-32,-0.990268
2022-12-01 03:45:00,-0.538693,-0.293037,-0.570432,-5,-8.5,-2.106377,-34,-0.989016
2022-12-01 04:45:00,-1.414365,-0.367785,-0.515508,-5,-9.0,-0.442566,-36,-0.987688
2022-12-01 05:45:00,-0.001079,-0.719254,-0.792553,-5,-9.5,-1.186557,-38,-0.986286

In [192]:
df

,A,B,C,D,E,F,E prime,cosine
2022-11-30 10:45:00,0.000000,-0.817659,0.827767,5,0.0,-0.043316,0,1.000000
2022-11-30 11:45:00,-0.295308,0.391661,-2.677523,5,0.5,0.296537,2,0.999962
2022-11-30 12:45:00,-0.814240,1.203798,0.776728,5,1.0,0.066622,4,0.999848
2022-11-30 13:45:00,-0.673488,-1.314668,-0.799560,5,1.5,-1.551625,6,0.999657
2022-11-30 14:45:00,0.162290,-0.507675,1.929527,5,2.0,0.605932,8,0.999391
2022-11-30 15:45:00,0.786710,-0.823722,-1.638316,5,2.5,0.154216,10,0.999048
2022-11-30 16:45:00,-0.634746,-0.261397,1.073522,5,3.0,-0.395947,12,0.998630
2022-11-30 17:45:00,-0.459132,-0.077345,2.338647,5,3.5,-0.546632,14,0.998135
2022-11-30 18:45:00,-0.392066,-0.027347,0.104468,5,4.0,0.799379,16,0.997564
2022-11-30 19:45:00,0.032434,0.186892,1.238418,5,4.5,0.464836,18,0.996917
2022-11-30 20:45:00,1.379793,-1.097870,-1.403353,5,5.0,0.145723,20,0.996195
2022-11-30 21:45:00,0.076595,-0.333006,0.357726,5,5.5,0.347889,22,0.995396
2022-11-30 22:45:00,-0.821727,-2.343201,-1.954697,5,6.0,-0.368187,24,0.994522
2022-11-30 23:45:00,-0.700205,-0.359137,-1.037356,5,6.5,1.250407,26,0.993572
2022-12-01 00:45:00,-0.415518,-0.381365,-0.502466,5,7.0,1.753849,28,0.992546
2022-12-01 01:45:00,0.557422,-0.293373,1.750745,5,7.5,0.145883,30,0.991445
2022-12-01 02:45:00,-1.104235,-1.484837,1.565539,5,8.0,-0.377749,32,0.990268
2022-12-01 03:45:00,0.909476,-1.711586,1.095465,5,8.5,0.798949,34,0.989016
2022-12-01 04:45:00,-1.534822,1.291898,-0.398220,5,9.0,-0.230743,36,0.987688
2022-12-01 05:45:00,0.252502,0.232695,0.190523,5,9.5,0.437052,38,0.986286

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [193]:
# Dropping by column
df.drop(['E prime'], axis=1)

#which is equivalent to
new_df=df.drop(columns=['E prime'])
new_df

                            A         B         C  D    E         F    cosine
2022-11-30 10:45:00  0.000000 -0.817659  0.827767  5  0.0 -0.043316  1.000000
2022-11-30 11:45:00 -0.295308  0.391661 -2.677523  5  0.5  0.296537  0.999962
2022-11-30 12:45:00 -0.814240  1.203798  0.776728  5  1.0  0.066622  0.999848
2022-11-30 13:45:00 -0.673488 -1.314668 -0.799560  5  1.5 -1.551625  0.999657
2022-11-30 14:45:00  0.162290 -0.507675  1.929527  5  2.0  0.605932  0.999391
2022-11-30 15:45:00  0.786710 -0.823722 -1.638316  5  2.5  0.154216  0.999048
2022-11-30 16:45:00 -0.634746 -0.261397  1.073522  5  3.0 -0.395947  0.998630
2022-11-30 17:45:00 -0.459132 -0.077345  2.338647  5  3.5 -0.546632  0.998135
2022-11-30 18:45:00 -0.392066 -0.027347  0.104468  5  4.0  0.799379  0.997564
2022-11-30 19:45:00  0.032434  0.186892  1.238418  5  4.5  0.464836  0.996917
2022-11-30 20:45:00  1.379793 -1.097870 -1.403353  5  5.0  0.145723  0.996195
2022-11-30 21:45:00  0.076595 -0.333006  0.357726  5  5.5  0.347889  0.995396
2022-11-30 22:45:00 -0.821727 -2.343201 -1.954697  5  6.0 -0.368187  0.994522
2022-11-30 23:45:00 -0.700205 -0.359137 -1.037356  5  6.5  1.250407  0.993572
2022-12-01 00:45:00 -0.415518 -0.381365 -0.502466  5  7.0  1.753849  0.992546
2022-12-01 01:45:00  0.557422 -0.293373  1.750745  5  7.5  0.145883  0.991445
2022-12-01 02:45:00 -1.104235 -1.484837  1.565539  5  8.0 -0.377749  0.990268
2022-12-01 03:45:00  0.909476 -1.711586  1.095465  5  8.5  0.798949  0.989016
2022-12-01 04:45:00 -1.534822  1.291898 -0.398220  5  9.0 -0.230743  0.987688
2022-12-01 05:45:00  0.252502  0.232695  0.190523  5  9.5  0.437052  0.986286

In [194]:
# Dropping by raws
# safe and always working
df.drop(df.index[[1,2,3,4]])

,A,B,C,D,E,F,E prime,cosine
2022-11-30 10:45:00,0.000000,-0.817659,0.827767,5,0.0,-0.043316,0,1.000000
2022-11-30 15:45:00,0.786710,-0.823722,-1.638316,5,2.5,0.154216,10,0.999048
2022-11-30 16:45:00,-0.634746,-0.261397,1.073522,5,3.0,-0.395947,12,0.998630
2022-11-30 17:45:00,-0.459132,-0.077345,2.338647,5,3.5,-0.546632,14,0.998135
2022-11-30 18:45:00,-0.392066,-0.027347,0.104468,5,4.0,0.799379,16,0.997564
2022-11-30 19:45:00,0.032434,0.186892,1.238418,5,4.5,0.464836,18,0.996917
2022-11-30 20:45:00,1.379793,-1.097870,-1.403353,5,5.0,0.145723,20,0.996195
2022-11-30 21:45:00,0.076595,-0.333006,0.357726,5,5.5,0.347889,22,0.995396
2022-11-30 22:45:00,-0.821727,-2.343201,-1.954697,5,6.0,-0.368187,24,0.994522
2022-11-30 23:45:00,-0.700205,-0.359137,-1.037356,5,6.5,1.250407,26,0.993572
2022-12-01 00:45:00,-0.415518,-0.381365,-0.502466,5,7.0,1.753849,28,0.992546
2022-12-01 01:45:00,0.557422,-0.293373,1.750745,5,7.5,0.145883,30,0.991445
2022-12-01 02:45:00,-1.104235,-1.484837,1.565539,5,8.0,-0.377749,32,0.990268
2022-12-01 03:45:00,0.909476,-1.711586,1.095465,5,8.5,0.798949,34,0.989016
2022-12-01 04:45:00,-1.534822,1.291898,-0.398220,5,9.0,-0.230743,36,0.987688
2022-12-01 05:45:00,0.252502,0.232695,0.190523,5,9.5,0.437052,38,0.986286

In [195]:
df

,A,B,C,D,E,F,E prime,cosine
2022-11-30 10:45:00,0.000000,-0.817659,0.827767,5,0.0,-0.043316,0,1.000000
2022-11-30 11:45:00,-0.295308,0.391661,-2.677523,5,0.5,0.296537,2,0.999962
2022-11-30 12:45:00,-0.814240,1.203798,0.776728,5,1.0,0.066622,4,0.999848
2022-11-30 13:45:00,-0.673488,-1.314668,-0.799560,5,1.5,-1.551625,6,0.999657
2022-11-30 14:45:00,0.162290,-0.507675,1.929527,5,2.0,0.605932,8,0.999391
2022-11-30 15:45:00,0.786710,-0.823722,-1.638316,5,2.5,0.154216,10,0.999048
2022-11-30 16:45:00,-0.634746,-0.261397,1.073522,5,3.0,-0.395947,12,0.998630
2022-11-30 17:45:00,-0.459132,-0.077345,2.338647,5,3.5,-0.546632,14,0.998135
2022-11-30 18:45:00,-0.392066,-0.027347,0.104468,5,4.0,0.799379,16,0.997564
2022-11-30 19:45:00,0.032434,0.186892,1.238418,5,4.5,0.464836,18,0.996917
2022-11-30 20:45:00,1.379793,-1.097870,-1.403353,5,5.0,0.145723,20,0.996195
2022-11-30 21:45:00,0.076595,-0.333006,0.357726,5,5.5,0.347889,22,0.995396
2022-11-30 22:45:00,-0.821727,-2.343201,-1.954697,5,6.0,-0.368187,24,0.994522
2022-11-30 23:45:00,-0.700205,-0.359137,-1.037356,5,6.5,1.250407,26,0.993572
2022-12-01 00:45:00,-0.415518,-0.381365,-0.502466,5,7.0,1.753849,28,0.992546
2022-12-01 01:45:00,0.557422,-0.293373,1.750745,5,7.5,0.145883,30,0.991445
2022-12-01 02:45:00,-1.104235,-1.484837,1.565539,5,8.0,-0.377749,32,0.990268
2022-12-01 03:45:00,0.909476,-1.711586,1.095465,5,8.5,0.798949,34,0.989016
2022-12-01 04:45:00,-1.534822,1.291898,-0.398220,5,9.0,-0.230743,36,0.987688
2022-12-01 05:45:00,0.252502,0.232695,0.190523,5,9.5,0.437052,38,0.986286

In [196]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2022-11-30 18:45:00"))

,A,B,C,D,E,F,E prime,cosine
2022-11-30 10:45:00,0.000000,-0.817659,0.827767,5,0.0,-0.043316,0,1.000000
2022-11-30 11:45:00,-0.295308,0.391661,-2.677523,5,0.5,0.296537,2,0.999962
2022-11-30 12:45:00,-0.814240,1.203798,0.776728,5,1.0,0.066622,4,0.999848
2022-11-30 13:45:00,-0.673488,-1.314668,-0.799560,5,1.5,-1.551625,6,0.999657
2022-11-30 14:45:00,0.162290,-0.507675,1.929527,5,2.0,0.605932,8,0.999391
2022-11-30 15:45:00,0.786710,-0.823722,-1.638316,5,2.5,0.154216,10,0.999048
2022-11-30 16:45:00,-0.634746,-0.261397,1.073522,5,3.0,-0.395947,12,0.998630
2022-11-30 17:45:00,-0.459132,-0.077345,2.338647,5,3.5,-0.546632,14,0.998135
2022-11-30 19:45:00,0.032434,0.186892,1.238418,5,4.5,0.464836,18,0.996917
2022-11-30 20:45:00,1.379793,-1.097870,-1.403353,5,5.0,0.145723,20,0.996195
2022-11-30 21:45:00,0.076595,-0.333006,0.357726,5,5.5,0.347889,22,0.995396
2022-11-30 22:45:00,-0.821727,-2.343201,-1.954697,5,6.0,-0.368187,24,0.994522
2022-11-30 23:45:00,-0.700205,-0.359137,-1.037356,5,6.5,1.250407,26,0.993572
2022-12-01 00:45:00,-0.415518,-0.381365,-0.502466,5,7.0,1.753849,28,0.992546
2022-12-01 01:45:00,0.557422,-0.293373,1.750745,5,7.5,0.145883,30,0.991445
2022-12-01 02:45:00,-1.104235,-1.484837,1.565539,5,8.0,-0.377749,32,0.990268
2022-12-01 03:45:00,0.909476,-1.711586,1.095465,5,8.5,0.798949,34,0.989016
2022-12-01 04:45:00,-1.534822,1.291898,-0.398220,5,9.0,-0.230743,36,0.987688
2022-12-01 05:45:00,0.252502,0.232695,0.190523,5,9.5,0.437052,38,0.986286

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [197]:
df_wNan = df[df>0]
df_wNan

,A,B,C,D,E,F,E prime,cosine
2022-11-30 10:45:00,NaN,NaN,0.827767,5,NaN,NaN,NaN,1.000000
2022-11-30 11:45:00,NaN,0.391661,NaN,5,0.5,0.296537,2.0,0.999962
2022-11-30 12:45:00,NaN,1.203798,0.776728,5,1.0,0.066622,4.0,0.999848
2022-11-30 13:45:00,NaN,NaN,NaN,5,1.5,NaN,6.0,0.999657
2022-11-30 14:45:00,0.162290,NaN,1.929527,5,2.0,0.605932,8.0,0.999391
2022-11-30 15:45:00,0.786710,NaN,NaN,5,2.5,0.154216,10.0,0.999048
2022-11-30 16:45:00,NaN,NaN,1.073522,5,3.0,NaN,12.0,0.998630
2022-11-30 17:45:00,NaN,NaN,2.338647,5,3.5,NaN,14.0,0.998135
2022-11-30 18:45:00,NaN,NaN,0.104468,5,4.0,0.799379,16.0,0.997564
2022-11-30 19:45:00,0.032434,0.186892,1.238418,5,4.5,0.464836,18.0,0.996917
2022-11-30 20:45:00,1.379793,NaN,NaN,5,5.0,0.145723,20.0,0.996195
2022-11-30 21:45:00,0.076595,NaN,0.357726,5,5.5,0.347889,22.0,0.995396
2022-11-30 22:45:00,NaN,NaN,NaN,5,6.0,NaN,24.0,0.994522
2022-11-30 23:45:00,NaN,NaN,NaN,5,6.5,1.250407,26.0,0.993572
2022-12-01 00:45:00,NaN,NaN,NaN,5,7.0,1.753849,28.0,0.992546
2022-12-01 01:45:00,0.557422,NaN,1.750745,5,7.5,0.145883,30.0,0.991445
2022-12-01 02:45:00,NaN,NaN,1.565539,5,8.0,NaN,32.0,0.990268
2022-12-01 03:45:00,0.909476,NaN,1.095465,5,8.5,0.798949,34.0,0.989016
2022-12-01 04:45:00,NaN,1.291898,NaN,5,9.0,NaN,36.0,0.987688
2022-12-01 05:45:00,0.252502,0.232695,0.190523,5,9.5,0.437052,38.0,0.986286

In [198]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

,A,B,C,D,E,F,E prime,cosine
2022-11-30 19:45:00,0.032434,0.186892,1.238418,5,4.5,0.464836,18.0,0.996917
2022-12-01 05:45:00,0.252502,0.232695,0.190523,5,9.5,0.437052,38.0,0.986286

In [199]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

                         A      B      C      D      E      F  E prime  cosine
2022-11-30 10:45:00   True   True  False  False   True   True     True   False
2022-11-30 11:45:00   True  False   True  False  False  False    False   False
2022-11-30 12:45:00   True  False  False  False  False  False    False   False
2022-11-30 13:45:00   True   True   True  False  False   True    False   False
2022-11-30 14:45:00  False   True  False  False  False  False    False   False
2022-11-30 15:45:00  False   True   True  False  False  False    False   False
2022-11-30 16:45:00   True   True  False  False  False   True    False   False
2022-11-30 17:45:00   True   True  False  False  False   True    False   False
2022-11-30 18:45:00   True   True  False  False  False  False    False   False
2022-11-30 19:45:00  False  False  False  False  False  False    False   False
2022-11-30 20:45:00  False   True   True  False  False  False    False   False
2022-11-30 21:45:00  False   True  False  False  False  False    False   False
2022-11-30 22:45:00   True   True   True  False  False   True    False   False
2022-11-30 23:45:00   True   True   True  False  False  False    False   False
2022-12-01 00:45:00   True   True   True  False  False  False    False   False
2022-12-01 01:45:00  False   True  False  False  False  False    False   False
2022-12-01 02:45:00   True   True  False  False  False   True    False   False
2022-12-01 03:45:00  False   True  False  False  False  False    False   False
2022-12-01 04:45:00   True  False   True  False  False   True    False   False
2022-12-01 05:45:00  False  False  False  False  False  False    False   False

In [200]:
# filling missing data
df_wNan.fillna(value=0)

,A,B,C,D,E,F,E prime,cosine
2022-11-30 10:45:00,0.000000,0.000000,0.827767,5,0.0,0.000000,0.0,1.000000
2022-11-30 11:45:00,0.000000,0.391661,0.000000,5,0.5,0.296537,2.0,0.999962
2022-11-30 12:45:00,0.000000,1.203798,0.776728,5,1.0,0.066622,4.0,0.999848
2022-11-30 13:45:00,0.000000,0.000000,0.000000,5,1.5,0.000000,6.0,0.999657
2022-11-30 14:45:00,0.162290,0.000000,1.929527,5,2.0,0.605932,8.0,0.999391
2022-11-30 15:45:00,0.786710,0.000000,0.000000,5,2.5,0.154216,10.0,0.999048
2022-11-30 16:45:00,0.000000,0.000000,1.073522,5,3.0,0.000000,12.0,0.998630
2022-11-30 17:45:00,0.000000,0.000000,2.338647,5,3.5,0.000000,14.0,0.998135
2022-11-30 18:45:00,0.000000,0.000000,0.104468,5,4.0,0.799379,16.0,0.997564
2022-11-30 19:45:00,0.032434,0.186892,1.238418,5,4.5,0.464836,18.0,0.996917
2022-11-30 20:45:00,1.379793,0.000000,0.000000,5,5.0,0.145723,20.0,0.996195
2022-11-30 21:45:00,0.076595,0.000000,0.357726,5,5.5,0.347889,22.0,0.995396
2022-11-30 22:45:00,0.000000,0.000000,0.000000,5,6.0,0.000000,24.0,0.994522
2022-11-30 23:45:00,0.000000,0.000000,0.000000,5,6.5,1.250407,26.0,0.993572
2022-12-01 00:45:00,0.000000,0.000000,0.000000,5,7.0,1.753849,28.0,0.992546
2022-12-01 01:45:00,0.557422,0.000000,1.750745,5,7.5,0.145883,30.0,0.991445
2022-12-01 02:45:00,0.000000,0.000000,1.565539,5,8.0,0.000000,32.0,0.990268
2022-12-01 03:45:00,0.909476,0.000000,1.095465,5,8.5,0.798949,34.0,0.989016
2022-12-01 04:45:00,0.000000,1.291898,0.000000,5,9.0,0.000000,36.0,0.987688
2022-12-01 05:45:00,0.252502,0.232695,0.190523,5,9.5,0.437052,38.0,0.986286

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [201]:
df_wNan.fillna(method='pad') #first row is not updated cos there are no data values before

,A,B,C,D,E,F,E prime,cosine
2022-11-30 10:45:00,NaN,NaN,0.827767,5,NaN,NaN,NaN,1.000000
2022-11-30 11:45:00,NaN,0.391661,0.827767,5,0.5,0.296537,2.0,0.999962
2022-11-30 12:45:00,NaN,1.203798,0.776728,5,1.0,0.066622,4.0,0.999848
2022-11-30 13:45:00,NaN,1.203798,0.776728,5,1.5,0.066622,6.0,0.999657
2022-11-30 14:45:00,0.162290,1.203798,1.929527,5,2.0,0.605932,8.0,0.999391
2022-11-30 15:45:00,0.786710,1.203798,1.929527,5,2.5,0.154216,10.0,0.999048
2022-11-30 16:45:00,0.786710,1.203798,1.073522,5,3.0,0.154216,12.0,0.998630
2022-11-30 17:45:00,0.786710,1.203798,2.338647,5,3.5,0.154216,14.0,0.998135
2022-11-30 18:45:00,0.786710,1.203798,0.104468,5,4.0,0.799379,16.0,0.997564
2022-11-30 19:45:00,0.032434,0.186892,1.238418,5,4.5,0.464836,18.0,0.996917
2022-11-30 20:45:00,1.379793,0.186892,1.238418,5,5.0,0.145723,20.0,0.996195
2022-11-30 21:45:00,0.076595,0.186892,0.357726,5,5.5,0.347889,22.0,0.995396
2022-11-30 22:45:00,0.076595,0.186892,0.357726,5,6.0,0.347889,24.0,0.994522
2022-11-30 23:45:00,0.076595,0.186892,0.357726,5,6.5,1.250407,26.0,0.993572
2022-12-01 00:45:00,0.076595,0.186892,0.357726,5,7.0,1.753849,28.0,0.992546
2022-12-01 01:45:00,0.557422,0.186892,1.750745,5,7.5,0.145883,30.0,0.991445
2022-12-01 02:45:00,0.557422,0.186892,1.565539,5,8.0,0.145883,32.0,0.990268
2022-12-01 03:45:00,0.909476,0.186892,1.095465,5,8.5,0.798949,34.0,0.989016
2022-12-01 04:45:00,0.909476,1.291898,1.095465,5,9.0,0.798949,36.0,0.987688
2022-12-01 05:45:00,0.252502,0.232695,0.190523,5,9.5,0.437052,38.0,0.986286

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [202]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

A          -0.184413
B          -0.426362
C           0.141879
D           5.000000
E           4.750000
F           0.187654
E prime    19.000000
cosine      0.995304
dtype: float64

2022-11-30 10:45:00    0.745849
2022-11-30 11:45:00    0.776916
2022-11-30 12:45:00    1.529094
2022-11-30 13:45:00    1.145040
2022-11-30 14:45:00    2.273683
2022-11-30 15:45:00    2.122242
2022-11-30 16:45:00    2.597508
2022-11-30 17:45:00    3.094209
2022-11-30 18:45:00    3.310250
2022-11-30 19:45:00    3.802437
2022-11-30 20:45:00    3.752561
2022-11-30 21:45:00    4.243075
2022-11-30 22:45:00    3.813339
2022-11-30 23:45:00    4.705910
2022-12-01 00:45:00    5.180881
2022-12-01 01:45:00    5.706515
2022-12-01 02:45:00    5.573623
2022-12-01 03:45:00    6.197665
2022-12-01 04:45:00    6.264475
2022-12-01 05:45:00    6.824882
Freq: H, dtype: float64

In [203]:
# global operations on columns
df.apply(np.cumsum)

,A,B,C,D,E,F,E prime,cosine
2022-11-30 10:45:00,0.000000,-0.817659,0.827767,5,0.0,-0.043316,0,1.000000
2022-11-30 11:45:00,-0.295308,-0.425998,-1.849756,10,0.5,0.253221,2,1.999962
2022-11-30 12:45:00,-1.109549,0.777801,-1.073027,15,1.5,0.319843,6,2.999810
2022-11-30 13:45:00,-1.783036,-0.536867,-1.872587,20,3.0,-1.231782,12,3.999467
2022-11-30 14:45:00,-1.620747,-1.044542,0.056940,25,5.0,-0.625850,20,4.998858
2022-11-30 15:45:00,-0.834037,-1.868264,-1.581377,30,7.5,-0.471634,30,5.997906
2022-11-30 16:45:00,-1.468783,-2.129661,-0.507855,35,10.5,-0.867581,42,6.996536
2022-11-30 17:45:00,-1.927915,-2.207005,1.830793,40,14.0,-1.414213,56,7.994670
2022-11-30 18:45:00,-2.319981,-2.234353,1.935261,45,18.0,-0.614835,72,8.992234
2022-11-30 19:45:00,-2.287547,-2.047461,3.173679,50,22.5,-0.149999,90,9.989152
2022-11-30 20:45:00,-0.907754,-3.145331,1.770325,55,27.5,-0.004276,110,10.985346
2022-11-30 21:45:00,-0.831159,-3.478337,2.128051,60,33.0,0.343614,132,11.980743
2022-11-30 22:45:00,-1.652886,-5.821539,0.173355,65,39.0,-0.024573,156,12.975265
2022-11-30 23:45:00,-2.353091,-6.180676,-0.864001,70,45.5,1.225834,182,13.968836
2022-12-01 00:45:00,-2.768609,-6.562041,-1.366468,75,52.5,2.979683,210,14.961383
2022-12-01 01:45:00,-2.211187,-6.855414,0.384277,80,60.0,3.125566,240,15.952827
2022-12-01 02:45:00,-3.315422,-8.340252,1.949817,85,68.0,2.747817,272,16.943095
2022-12-01 03:45:00,-2.405946,-10.051837,3.045281,90,76.5,3.546766,306,17.932111
2022-12-01 04:45:00,-3.940768,-8.759939,2.647061,95,85.5,3.316023,342,18.919800
2022-12-01 05:45:00,-3.688266,-8.527244,2.837584,100,95.0,3.753075,380,19.906085

In [204]:
df

,A,B,C,D,E,F,E prime,cosine
2022-11-30 10:45:00,0.000000,-0.817659,0.827767,5,0.0,-0.043316,0,1.000000
2022-11-30 11:45:00,-0.295308,0.391661,-2.677523,5,0.5,0.296537,2,0.999962
2022-11-30 12:45:00,-0.814240,1.203798,0.776728,5,1.0,0.066622,4,0.999848
2022-11-30 13:45:00,-0.673488,-1.314668,-0.799560,5,1.5,-1.551625,6,0.999657
2022-11-30 14:45:00,0.162290,-0.507675,1.929527,5,2.0,0.605932,8,0.999391
2022-11-30 15:45:00,0.786710,-0.823722,-1.638316,5,2.5,0.154216,10,0.999048
2022-11-30 16:45:00,-0.634746,-0.261397,1.073522,5,3.0,-0.395947,12,0.998630
2022-11-30 17:45:00,-0.459132,-0.077345,2.338647,5,3.5,-0.546632,14,0.998135
2022-11-30 18:45:00,-0.392066,-0.027347,0.104468,5,4.0,0.799379,16,0.997564
2022-11-30 19:45:00,0.032434,0.186892,1.238418,5,4.5,0.464836,18,0.996917
2022-11-30 20:45:00,1.379793,-1.097870,-1.403353,5,5.0,0.145723,20,0.996195
2022-11-30 21:45:00,0.076595,-0.333006,0.357726,5,5.5,0.347889,22,0.995396
2022-11-30 22:45:00,-0.821727,-2.343201,-1.954697,5,6.0,-0.368187,24,0.994522
2022-11-30 23:45:00,-0.700205,-0.359137,-1.037356,5,6.5,1.250407,26,0.993572
2022-12-01 00:45:00,-0.415518,-0.381365,-0.502466,5,7.0,1.753849,28,0.992546
2022-12-01 01:45:00,0.557422,-0.293373,1.750745,5,7.5,0.145883,30,0.991445
2022-12-01 02:45:00,-1.104235,-1.484837,1.565539,5,8.0,-0.377749,32,0.990268
2022-12-01 03:45:00,0.909476,-1.711586,1.095465,5,8.5,0.798949,34,0.989016
2022-12-01 04:45:00,-1.534822,1.291898,-0.398220,5,9.0,-0.230743,36,0.987688
2022-12-01 05:45:00,0.252502,0.232695,0.190523,5,9.5,0.437052,38,0.986286

In [205]:
df.apply(lambda x: x.max() - x.min())

A           2.914615
B           3.635099
C           5.016170
D           0.000000
E           9.500000
F           3.305473
E prime    38.000000
cosine      0.013714
dtype: float64

In [206]:
# syntax is as usual similar to that of numpy arrays
print(df['A']+df['B']) #same indexes

2022-11-30 10:45:00   -0.817659
2022-11-30 11:45:00    0.096353
2022-11-30 12:45:00    0.389558
2022-11-30 13:45:00   -1.988156
2022-11-30 14:45:00   -0.345385
2022-11-30 15:45:00   -0.037011
2022-11-30 16:45:00   -0.896143
2022-11-30 17:45:00   -0.536477
2022-11-30 18:45:00   -0.419414
2022-11-30 19:45:00    0.219326
2022-11-30 20:45:00    0.281922
2022-11-30 21:45:00   -0.256411
2022-11-30 22:45:00   -3.164929
2022-11-30 23:45:00   -1.059342
2022-12-01 00:45:00   -0.796883
2022-12-01 01:45:00    0.264048
2022-12-01 02:45:00   -2.589073
2022-12-01 03:45:00   -0.802109
2022-12-01 04:45:00   -0.242924
2022-12-01 05:45:00    0.485197
Freq: H, dtype: float64

Let's play it hard and load (in memory) a (relatively) large dataset

In [207]:
# WARNING! link in past notebook was wrong!, (if needed) get the right file from:
#!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

file_name="~/LaboratoryOfComputationalPhysics_Y5/data/data_000637.txt"
data=pd.read_csv(file_name)
data

         HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0           1     0          123  3869200167        2374        26
1           1     0          124  3869200167        2374        27
2           1     0           63  3869200167        2553        28
3           1     0           64  3869200167        2558        19
4           1     0           64  3869200167        2760        25
...       ...   ...          ...         ...         ...       ...
1310715     1     0           62  3869211171         762        14
1310716     1     1            4  3869211171         763        11
1310717     1     0           64  3869211171         764         0
1310718     1     0          139  3869211171         769         0
1310719     1     0           61  3869211171         762        18

[1310720 rows x 6 columns]

Let's now do some operations among (elements of) columns

In [208]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25

In [209]:
data['timens']

0          59371.666667
1          59372.500000
2          63848.333333
3          63965.833333
4          69020.833333
               ...
1310715    19061.666667
1310716    19084.166667
1310717    19100.000000
1310718    19225.000000
1310719    19065.000000
Name: timens, Length: 1310720, dtype: float64

In [210]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding rows) is straightforward

In [97]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

          0         1         2         3
0  1.202091 -0.847091  0.659908  1.390626
1  0.661125  2.064090 -0.349650  0.600480
2  1.262710 -1.164093  0.191385 -1.374192
3 -0.656301 -1.281355 -1.137876 -1.492688
4  0.890284 -0.086973 -0.463607 -0.940119
5 -1.179270 -0.715132 -0.377762  0.197181
6 -0.633502 -0.940022 -0.106432  1.646633
7 -0.888022  0.543951  0.094313  1.351142
8 -0.268248 -0.153245  1.018888 -1.078094
9  0.138949 -0.195770 -1.308486 -0.666309

In [98]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

[          0         1         2         3
 0  1.202091 -0.847091  0.659908  1.390626
 1  0.661125  2.064090 -0.349650  0.600480
 2  1.262710 -1.164093  0.191385 -1.374192,
           0         1         2         3
 3 -0.656301 -1.281355 -1.137876 -1.492688
 4  0.890284 -0.086973 -0.463607 -0.940119
 5 -1.179270 -0.715132 -0.377762  0.197181
 6 -0.633502 -0.940022 -0.106432  1.646633,
           0         1         2         3
 7 -0.888022  0.543951  0.094313  1.351142
 8 -0.268248 -0.153245  1.018888 -1.078094
 9  0.138949 -0.195770 -1.308486 -0.666309]

In [99]:
# put it back together
#pd.concat(pieces)

# indexes can be ignored
pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

          0         1         2         3
0  1.202091 -0.847091  0.659908  1.390626
1  0.661125  2.064090 -0.349650  0.600480
2  1.262710 -1.164093  0.191385 -1.374192
3 -0.656301 -1.281355 -1.137876 -1.492688
4  0.890284 -0.086973 -0.463607 -0.940119
5 -1.179270 -0.715132 -0.377762  0.197181
6 -0.633502 -0.940022 -0.106432  1.646633
7 -0.888022  0.543951  0.094313  1.351142
8 -0.268248 -0.153245  1.018888 -1.078094
9  0.138949 -0.195770 -1.308486 -0.666309

In [100]:
# appending a single row (as a Series)
s = rdf.iloc[3]
rdf.append(s, ignore_index=True)
rdf

C:\Users\leonm\AppData\Local\Temp\ipykernel_19840\3203204840.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rdf.append(s, ignore_index=True)

          0         1         2         3
0  1.202091 -0.847091  0.659908  1.390626
1  0.661125  2.064090 -0.349650  0.600480
2  1.262710 -1.164093  0.191385 -1.374192
3 -0.656301 -1.281355 -1.137876 -1.492688
4  0.890284 -0.086973 -0.463607 -0.940119
5 -1.179270 -0.715132 -0.377762  0.197181
6 -0.633502 -0.940022 -0.106432  1.646633
7 -0.888022  0.543951  0.094313  1.351142
8 -0.268248 -0.153245  1.018888 -1.078094
9  0.138949 -0.195770 -1.308486 -0.666309

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [101]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
print(left)
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
print(right)
pd.merge(left,right,on="key")

   key  lval
0  foo     1
1  bar     2
   key  rval
0  foo     4
1  bar     5

   key  lval  rval
0  foo     1     4
1  bar     2     5

## Grouping

By “group by” we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [211]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

     A      B         C         D
0  foo    one  0.345064 -0.525746
1  bar    one -0.555414  0.748907
2  foo    two -1.739364  0.125271
3  bar  three  1.499309  0.721661
4  foo    two  1.648782  0.526479
5  bar    two  0.368079  0.436218
6  foo    one -0.339971 -0.216834
7  foo  three  0.602399 -0.853876

In [215]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
print(gdf.groupby("A"))
gdf.groupby('A').sum()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000022D30F182E0>

            C         D
A
bar  1.311974  1.906785
foo  0.516910 -0.944707

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [216]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

first  second
bar    one       0.721375
       two       0.874486
baz    one       0.256718
       two       1.054042
foo    one      -0.512588
       two      -0.455374
qux    one       0.591361
       two       1.307581
dtype: float64

In [217]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

                  C         D
A   B
bar one   -0.555414  0.748907
    three  1.499309  0.721661
    two    0.368079  0.436218
foo one    0.005093 -0.742580
    three  0.602399 -0.853876
    two   -0.090582  0.651750

In [218]:
# stack() method “compresses” a level in the DataFrame’s columns
gdf.groupby(['A','B']).sum().stack()

A    B
bar  one    C   -0.555414
            D    0.748907
     three  C    1.499309
            D    0.721661
     two    C    0.368079
            D    0.436218
foo  one    C    0.005093
            D   -0.742580
     three  C    0.602399
            D   -0.853876
     two    C   -0.090582
            D    0.651750
dtype: float64

## Plotting

Just a preview, more on the next lab class!

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [ ]:
import matplotlib.pyplot as plt

pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
pdf = pdf.cumsum()
plt.figure(); pdf.plot(); plt.legend(loc='best')